<div class="row">
  <div class="col-xxxl-12 col-md-8">
    <ngx-user [email]="user.email">
    </ngx-user>
  </div>
  <div class="col-xxxl-12 col-md-4">
    <ngx-wallet [userId]="user.id">
    </ngx-wallet>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-12 col-xxl-12 col-lg-6 col-md-6">
    <ngx-requests [userId]="user.id"></ngx-requests>
  </div>

  <div class="col-xxxl-12 col-xxl-12 col-lg-6 col-md-6">
    <ngx-jobs [userId]="user.id"></ngx-jobs>
    <button nbButton (click)="open()">Add</button>
  </div>
</div>


