.searchSection{
    background-image: url('../../../assets/images/boite-outils-rouge.jpg');
}
.backgroundMecanicien{
    background-image: url('../../../assets/images/outils\ mecanicien.jpg');
}
.backgroundMenuisier{
    background-image: url('../../../assets/images/outils\ menuisier.jpg');
}
.backgroundMacon{
    background-image: url('../../../assets/images//outils\ macon.jpg');
}